<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite">
    <test name="AllTestCases">
        <classes>
            <class name="TestCases.MyAccount"/>
            <class name="TestCases.OfferCancel"/>
            <class name="TestCases.OwnCDSell"/>
            <class name="TestCases.OwnCDUtilize"/>
            <class name="TestCases.View_Market_Offer"/>
        </classes>
    </test>
</suite>
